################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HNCAApiConsumerApplication/bin/Debug/net6.0
